[submodule "deps/fcpw"]
	path = deps/fcpw
	url = https://github.com/rohan-sawhney/fcpw.git
[submodule "deps/pcg32"]
	path = deps/pcg32
	url = https://github.com/wjakob/pcg32.git
[submodule "deps/nanoflann"]
	path = deps/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
